[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==8.1.3"
black = "*"
pre-commit = "==2.20.0"
types-attrs = "*"
lark = "*"

[dev-packages]

[requires]
python_version = "3.10"
